.todo {
  .uk-icon-button {
    cursor: pointer;
    margin-right: 16px;
    border: none;

    &:first-child {
      margin-right: 10px;
    }
  }

  .buttons-list {
    display: flex;
    align-items: center;
  }
}